@charset "UTF-8";

/**
 * TABLE DES MATIERES
 *
 * Normalize (au lieu du reset)
 * Utilitaires
 * Grille 12 colonnes
 * Styles de base
 * Boutons radios accessibles
 *** Form
 *** Label des boutons radio
 *** Interactivité
 *** Erreurs
 */

/* Normalize (reset qui harmonise le rendu des éléments de formulaire)
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires (contient box-sising = border-box et autres utiles)
   ========================================================================== */
@import url(utilitaires.css);

/* Grille 12 colonnes (jeu de classes : conteneur, rangee, cols_X_de_12)
   ========================================================================== */
/* @import url(grille.css); */

@import url(typo.css);



@media (min-width:600px) {

    body,
    header,
    aside {
        margin   : auto;
        max-width: 1000px;
    }
}

@media (max-width:1020px) {

    body,
    header,
    aside {
        margin: 0 10px 0;
    }
}
html{
    background-color: #181a1b;
}
body{
    color:var(--couleur-texte);
}

:visited{
    color: var(--couleur-lien-visite);
}

.multilabel {
    display              : grid;
    grid-template-columns: min-content;
}

.multilabel label {
    width      : 9rem;
    grid-column: 1;
    text-align : right;
}

.multilabel input {
    width      : 200px;
    grid-column: 2;
}

aside{
    text-align: justify;
}

ul.rangee li:nth-of-type(2) {
    margin: 0 10px;
}

ul.rangee li {
    /* flex:0 1 calc(33.333333% - 10px); */
    flex: 0 1 32%;
}

fieldset fieldset {
    border: none;
}

fieldset fieldset legend {
    font-weight: bold;
}

ul.rangee {
    list-style  : none;
    padding-left: 0;
    display     : flex;
}

input[type=radio]+label {
    display   : inline-block;
    text-align: center;
    border    : 2px solid transparent;
}

/*** Interactivité ***/
[type=radio]:hover+label {
    cursor: pointer;
}

[type=radio]:hover+label,
[type=radio]:focus+label {
    border: 2px solid #09c231;
}

[type=radio]:checked+label {
    border: 2px solid #068221;
}

.produit {
    display: block;
}

footer {
    text-align      : center;
    background-color: #424242;
}