@charset "UTF-8";

/**
 * TABLE DES MATIERES
 *
 * Normalize (au lieu du reset)
 * Utilitaires
 * Grille 12 colonnes
 * Styles de base
 * Boutons radios accessibles
 *** Form
 *** Label des boutons radio
 *** Interactivité
 *** Erreurs
 */

/* Normalize (reset qui harmonise le rendu des éléments de formulaire)
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires (contient box-sising = border-box et autres utiles)
   ========================================================================== */
@import url(utilitaires.css);

/* Grille 12 colonnes (jeu de classes : conteneur, rangee, cols_X_de_12)
   ========================================================================== */
/* @import url(grille.css); */

@import url(typo.css);


.multilabel {
    display              : grid;
    grid-template-columns: min-content min-content auto;
}

.multilabel label {
    width      : 9rem;
    grid-column: 1;
    text-align : right;
}

.multilabel input {
    width      : 200px;
    grid-column: 2;
}

.multilabel span {
    padding-left: 10px;
    text-align  : left;
    grid-column : 2;
}

@media (min-width:600px) {

    body {
        margin   : auto;
        max-width: 1000px;
    }
    .multilabel input {
        width      : 270px;
        grid-column: 2;
    }
    .multilabel span {
        grid-column : 3;
    }
}

@media (min-width:1440px){
    hr{
        display: none;
    }
    body{
        max-width: 1440px;
        display: grid;
        grid-template-columns: 400px 1000px;
        overflow:unset;
    }
    body>*{
        padding: 0 20px 0;
    }
    header, main, footer{
        grid-column: 2;
    }
    aside{
        grid-column: 1;
        grid-row: 2;
        align-self: start; /*Besoin pour stiky top fonctionnel*/
        position: -webkit-sticky; /* Pour Safari */
        position: sticky;
        top:0;
    }
    aside h3{
        font-size: 2.5rem;
    }
}

@media (max-width:1020px) {

    body,
    header,
    aside {
        margin: 0 10px 0;
    }
}

html {
    background-color: #181a1b;
}

body {
    color: var(--couleur-texte);
}

:visited {
    color: var(--couleur-lien-visite);
}


.msgErreur {
    color: #FF1919;
}

.estErreur {
    /* display: none; */
}

.msgErreur::before {
    /*? Pourait être remplacé par un icon au lieu d'un émoji */
    content: "❌";
}

aside {
    text-align: justify;
}

fieldset fieldset {
    border: none;
}

fieldset fieldset legend {
    font-weight: bold;
}

ul.rangee li:nth-of-type(2) {
    margin: 0 10px;
}

ul.rangee li img{
    width: 255px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

ul.rangee li {
    text-align: center;
    flex: 0 1 calc(33.333333% - 10px);
    /* flex: 0 1 32%; */
}


ul.rangee {
    list-style  : none;
    padding-left: 0;
    display     : flex;
}

input[type=radio]+label {
    display   : inline-block;
    text-align: center;
    border    : 2px solid transparent;
}

/*** Interactivité ***/
[type=radio]:hover+label {
    cursor: pointer;
}

[type=radio]:hover+label,
[type=radio]:focus+label {
    border: 2px solid #09c231;
}

[type=radio]:checked+label {
    border: 2px solid #068221;
}

.produit {
    display: block;
}

footer {
    text-align      : center;
    background-color: #424242;
}